@tailwind base;
@tailwind components;
@tailwind utilities;


.header{
    padding-left: 5%;
    padding-right: 7%;
}
.navbar-item:hover{
    color: #740001;
}


.box-grid {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
    margin: 0 5% 3rem 5%;
  }
  
  .box {
    border: 1px solid #DAA520;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    margin-top: 1.75rem;
  }
  
  img {
    max-width: 100%;
    width: 250px;
    height: 300px;
  }
  
  h3 {
    margin: 10px 0;
  }
  


  /* CharacterCard.css */

.character-card {
  display: flex;
  border: 1px solid #DAA520;
  border-radius: 10px;
  margin: 5rem auto 5rem auto;
  padding: 20px;
  background-color: #F7F1E3;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 50%;
  
}

.character-image {
  width: 250px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.character-details {
  flex: 1;
  padding-left: 20px;
}

h2 {
  font-size: 24px;
  margin: 0;
}

.details-label {
  font-weight: bold;
}

/* Additional styling to make it visually appealing */



span{
  text-decoration: none;
  font-weight: normal;
}


/* Designing spells section */

.spellsHeading{
  font-size: 3rem;
  margin: 3rem 0 0 5%;
}

.container{
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}